<div class="background">
  
<div class="filtro-container">
  <label for="genero">Género:</label>
  <select id="genero" [(ngModel)]="generoSeleccionado">
    <option value="">Todos</option>
    <option value="Accion">Acción</option>
    <option value="Drama">Drama</option>
    <option value="Fantasia">Fantasía</option>
    <option value="Aventura">Aventura</option>
    <option value="Musical">Musical</option>
    <!-- Agrega más opciones según los géneros disponibles -->
  </select>

<table>
    <tr>
      <th>Título</th>
      <th>Género</th>
      <th>Año de lanzamiento</th>
    </tr>
    <tr *ngFor="let pelicula of peliculas">
      <td>{{ pelicula.titulo }}</td>
      <td>{{ pelicula.genero }}</td>
      <td>{{ pelicula.lanzamiento }}</td>
    </tr>
  </table>
  <button (click)="generarPDF()">Generar PDF</button><br>
<button (click)="exportarExcel()">Exportar a Excel</button>

</div>